<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Copa do Mundo", "Index", "Selecao", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Seleções", "Index", "Selecao")</li>
                    <li>@Html.ActionLink("Jogadores", "Index", "Jogador")</li>
                </ul>
            </div>
        </div>
        
    </div>

    <div class="container body-content">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clearfix">
            @RenderBody()
        </section>
    </div>

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Copa do Mundo</p>
            </div>
            <div class="float-right">
                <ul id="social">
                    <li><a href="http://facebook.com/renan.meneses.37" class="facebook">Facebook - Renan Frutuozo</a></li>
                    <li><a href="http://renanfrutuozo.com.br" class="site">Site - Renan Frutuozo</a></li>
                </ul>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
